@charset 'utf-8';

#container {
    width: 100%;
    header {
        display: inline-block;
        background-image: "../img/container_bg.png";
        #head-contents {
            width: 960px;
            ul li {
                display: inline;
            }
        }
    }
    main {
        display: flex;
        flex-wrap: wrap;
        aside#product-left {
            display: flex;
            flex-wrap: wrap;
        }

    }
}